<p id="notice"><%= notice %></p>

<h1>Bookmarks</h1>

<div class="pb-4" id="bookmark_edit">
  <%= render "form", bookmark: @bookmark %>
</div>

<table class="table ">
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th>Categories</th>
      <th>Kinds</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="bookmarks-list">
    <%= render 'index' %>
  </tbody>
</table>

<br>

<%= link_to 'New Bookmark', new_bookmark_path %>
